.password-box {
    position: relative;
    width: 300px;
}

.password-box input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
}

.password-box .eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}
